@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/* Utilities */

ul {
  list-style: none;
}

.blue-font {
  color: rgb(0, 86, 153);
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.blue {
  color: rgb(0, 86, 153);
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.text-md-logo {
  color: grey;
  
}

.text-sm-grey {
  font-size: 10px;
  color: grey
}

.text-md-grey {
  font-size: 12px;
  color: grey
}

.text-bold {
  font-weight: 400;
}

.text-lg {
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.4px;
}

.header-text {
  text-transform: uppercase;
}


.btn-dark {
  background: rgb(51, 51, 51);
  color: #fff;
  width: 100px;
  height: 30px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: #f2f2f2;
  border: none;
  width: auto;
  height: auto;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.button-dark {
  background: rgb(51, 51, 51);
  color: #fff;
  width: 80%;
  height: 70px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}


/* Banner */
.banner {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 100%;
  background-color: #F2F2F2;
}

.banner .banner-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px
}

.banner li {
  margin: 0 5px;
}

.banner a {
  font-size: 12px
}

.banner a:visited {
  color: #000
}

.hidden {
  width: 300px;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  background: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

.logo {
  width: 300px;
}

.navbar-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.navbar-container li {
  margin: 10px;
  padding: 0 5px;
}

.navbar-container input {
  width: 200px;
  height: 25px;
}

.navbar-container li img {
  height: 35px;
  width: 35px;
}

.lower-nav ul {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  list-style: none;
  font-size: 12px;
}

.lower-nav a {
  text-decoration: none;
  color: #000;
}

.lower-nav:visited {
  color: #000;
}

.lower-nav li:hover {
  border-bottom: 4px solid rgb(0, 86, 153);
}

/* Marketing */
.banner-a {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.market {
  width: 80%;
}

/* top sales */
.top-container {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.top-offers {
  width: 80%;
  background: rgb(242, 242, 242);
  padding-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  height: auto;
}

.card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 175px;
  height: 175px;
  text-align: center;
}


.card li {
  margin: 5px 5px;
}

/* Category Shopping */

.top {
  width: 80%;
  padding-bottom: 20px;
}

.category-img {
  width: 125px;
  height: 125px;
}

.category-cards {
  display: flex;
  justify-content: space-between;
}


.category-sqe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-sqe a {
  color: #000;
}

.top h3 {
  margin-bottom: 20px;
}

.new-arrivals a:visited {
  color: #000;
}


/* Pick from the patch */

.marketing-panels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.patch-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

}

.patch-title p {
  margin: 10px 0;
}

.shopping-container {
  display: flex;
  padding: auto;
}

.text-container {
  width: 90%;
  text-align: center;
}

.patch-container {
  width: 100%;
}

.shopping,
.shopping ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 250px;
}

.shopping img {
  width: auto;
  height: 100px;
}

.promo {
  width: 450px;
  height: auto;
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 500px;
  margin-top: 30px;
}

/* halloween banner */
.halloween {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* gift links */
.gifts {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.gifts button {
  margin: 15px;
  text-transform: uppercase;
  width: auto;
  height: auto;
  padding: 10px 30px;
}


/* about */
.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.about li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about li img {
  width: 130px;
  height: 130px;
  margin: 10px 0;
}


/* logo */
.logo-bbw-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.line-right {
  border-top: 1px black solid;
}

.logo-bbw {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}


/* Media Queries */

@media (max-width: 768px) {
  .banner {
    display: none;
  }

  .lower-nav ul {
    display: none;
  }

  .navbar-container ul {
    display: none;
  }

  .hidden {
    display: none;
  }

  .logo {
    width: 300;
    margin: auto;
  }

}